* {margin: 0;padding: 0}

html,body
{
    background-color: #191919;
}

header
{
    background: url('../img/header-small.jpg') no-repeat 75% 0;
    background-size: cover;
    height:40vh;
    width:100%;
    position:relative;
    border-bottom: #f1f1f1 solid 4px;
    -moz-box-shadow: 0px 10px 60px px #111;
	-webkit-box-shadow: 0px 10px 60px 0px #111;
	-o-box-shadow: 0px 10px 60px 0px #111;
	box-shadow: 0px 10px 60px 0px #111;
    z-index: 150;
}

nav
{
    background-color: #333;
    height:auto;
    position:fixed;
    width: 100%;
    right:0;
    bottom:0;
    z-index: 120;
}

nav ul
{
    list-style: none;
    text-align: right;
    margin-right: 2%;
}

nav li
{
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    min-width: 120px;
    margin-right:5px;
    position: relative;
}

nav .text-but
{
    padding:5px;
    background-color: #333;
    height: 100%;
    width:100%;
    display: block;
    position: relative;
    color:#f1f1f1;
    text-transform:uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease-in,
        color 0.3s ease-in;
}

nav .text-but:hover
{
    text-decoration: none;
    color:#333;
    background-color: #f1f1f1;
}

nav .home-but
{
    margin-right: -50px;
    background-color: #333;
    padding:10px 7px;
    border-radius:50%;
    transition:all 0.3s ease-in-out;
}

nav .home-but img
{
    height:20px;
}

nav .home-but:hover
{
    background-color: #000;
    -webkit-filter:invert(1);   
}

#content
{
    height:auto;
    width:100%;;
    margin: 0 auto;
    background-color: #f9f9f9;
    position: relative;
    padding-bottom: 50px;
    z-index: 100;
}

#res-sociaux
{
    margin-top: 100px;
    padding-bottom: 100px;
    border-bottom:solid 2px #eee;
}

@media screen and (min-width:992px) {
    #res-sociaux #facebook, 
    #res-sociaux #twitter
    {background-color: #333;margin: auto 5px;}
    #res-sociaux #facebook iframe
    {width:100%;}
}

@media screen and (max-width:992px) {
    #res-sociaux #facebook, 
    #res-sociaux #twitter
    {width:100%;margin: 5px auto;}
    #res-sociaux #facebook iframe
    {width:520px;}
}

#res-sociaux #facebook, 
#res-sociaux #twitter
{
    display: block;
    text-align: center;
    height:500px;
}

#res-sociaux #facebook iframe
{
    border-radius:1%;
    padding-top:10px;
}

#res-sociaux h1
{
    text-align: center;
    margin-bottom: 30px;
}

#groups
{
    width:80%;
    margin:100px auto 0;
}

@media (min-width:992px) {
    .gp { border-left:1px #333 solid; border-right:1px #ddd solid; }   
}

@media (max-width:992px) {
    .gp { width:50%;margin:0 auto; }
}

.gp
{
    background-color: #eee;
    padding:0;  
    margin:15px auto;
}

.gp h2
{
    text-align: center;
    color:#000;
    width:100%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    
}

#groups h1
{
    text-align: center;  
    margin-bottom: 60px;
}

#groups .gp img
{
    background-color: #000;
    height:14vh;
    width:100%;
    position: relative;
    transition: all 0.6s ease-in-out;
    z-index: 100;
}

#groups .gp img:hover
{
    cursor: pointer;
    box-shadow: 0px 10px 30px 0px #666;
    transform: scale(1.1);
    z-index: 200;
}

.gp-infos
{
    background-color: #f3f3f3; 
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    border-bottom: 4px solid #333;
}

.gp-infos h3
{
    padding:0;
    font-size: 18px;
}

.gp-infos table
{
    width:100%;
}

.gp-infos table td
{
    padding:0 5px;
    width:50%;
}

#map
{
    height:80vh;
    margin-top: 100px;
    background-color: #191919;
}

#map iframe
{
    width:100%;
    height:100%;
    opacity:0.3;
}

#map .overlay
{
/*    background-color: rgba(255,0,0,0.1);*/
    position: relative;
    height:80.5vh;
    margin-top: -81vh;
}

#map h1
{
    margin: 0;
    text-align: center;
    color: #f1f1f1;
    padding-top: 27vh;
}

#map .lien-map
{
    color:#fff;
    display:block;
    width:200px;
    margin: 12vh auto 0;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
    border:1px solid #fff;
    transition: background-color 0.3s ease-in-out;
}

#map .lien-map:hover
{
    background-color: rgba(255,0,0,0.5);
    text-decoration: none;
}

#partenaires
{
    background-color: #fff;
    padding-top:30px;
    padding-bottom:30px;
    text-align: center;
}

#partenaires .partner
{
    margin: 5px;
    height:100px;
    background-color: #fff;
    color:#333;
    padding:10px;
}

#contact
{
    background-color: #191919;
    padding-bottom: 50px;
}

#contact h1
{
    text-align: center;
    color:#f1f1f1;
    padding-top: 30px;
}

#contact form
{
    display: block;
    width:400px;
    margin:5vh auto 0;
}

#contact #nom,
#contact #mail
{
    width:100%;
    margin-bottom: 2vh;
    border-radius:10px;
    padding-left: 10px;
}

#contact #message
{
    width:100%;
    max-width: 100%;
    border-radius:10px;
    padding:10px;
}

#contact #send
{
    width:100px;
    display: block;
    margin: 20px auto 0;
    padding-top:7px;
    padding-bottom:7px;
    background-color: rgba(0,0,0,0);
    color:#f1f1f1;
    border:#f1f1f1 solid 1px;
    transition: background-color 0.3s ease-in-out;
}

#contact #send:hover
{
    background-color: rgba(255,0,0,0.5);   
}

#contact .coordonnees
{
    margin-top: 5vh;
    color: #f1f1f1;
}

#contact .subtitle
{
    font-weight: bold;
    color:#999;
    font-style: italic;
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
}

@media screen and (max-width:992px) {
    #contact .coordonnees
    {
        text-align: center;
        margin-top: 60px;
    }
}